:root {
    --main-color: white;
    --titles-color: black;
    --text-color: color: rgba(21, 21, 21, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

ul {
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    background-color: white;
    z-index: 10;
}


@media screen and (max-width:1024) {
    menu-bth {
        background-color: transparent;
        border: none;
        outline: none;
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        margin-left: 20px;
    }



}

.menu-bth .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: 0.3s;
}

.menu-bth .bar :nth-child(2) {
    top: calc(50%-9px)
}

.menu-bth .bar :nth-child(3) {
    top: calc(50%+9px)
}

.menu-bth :active.bar :nth-child(1) {
    display: none;
}

.menu-bth :active.bar :nth-child(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(46deg);
}

.menu-bth :active.bar :nth-child(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-46deg);
}

@media screen and (max-width:1024) {
    .nav-list {
        position: fixet;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background-color: white;
        transition: 0.5s;
        transform: translateX(100%);
        flex-direction: column;
        align-items: center;
    }
}

.nav-list.active {
    transform: translateX(0);
}




@media screen and (max-width:768px) {

    .buisness-top .container,
    .buisness-bottom .container {
        flex-direction: column;
    }

}

.container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.header-buttons {
    display: flex;
    margin-left: 95px;
    align-items: center;
}

@media screen and (max-width:767px) {
    .header-buttons {
        display: none;
    }

}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #181818;
    text-decoration: none;
}

.reg-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #151515;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}

.login-button {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: #656293;
    border-radius: 5px;
    padding: 5px 22px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.login-button:hover {
    background-color: #33314a;
}

.hero {
    background-image: url("../images/Hero-backroound.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 104px;

}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1 {
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    text-transform: capitalize;
    margin-bottom: 48px;
}
.serveces-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 370px;
    row-gap: 30px;
    position: relative;
}
@media screen and (max-width:768px){

 .serveces-list{
    column-gap:10px;
    row-gap: 350px;
    justify-content: space-between;
 }
}


h1 span {
    color: #656293;
    text-transform: uppercase;
    font-weight: 700;

}

.hero-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
    padding-right: 26px;
    position: relative;
    width: fit-content;
}

.hero-link::after {
    content: "";
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.hero-link:hover.hero-link::after {
    transform: translate(5px, -50%);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    color: var[--titels-color];
    text-align: center;
    position: relative;
    margin-bottom: 64px
}

h2:before {
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: rgba(21, 21, 21, 0.1);
    display: block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.buisness-top .container,
.buisness-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.buisness-top img {
    max-width: 576px;
}

.buisness-bottom img {
    max-width: 612px;
    order: 2;
}

.buisness-top {
    padding: 65px 0;
    position: relative;
}

.buisness-bottom {
    padding: 65px 0;
    position: relative;
}

img {
    display: block;
    max-width: 100%;
}

h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #151515;
    margin-bottom: 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(21, 21, 21, 0.6);

    letter-spacing: 0.02em;
}


section {
    padding-bottom: 115px;
}

.buisness-top::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 405px;
    display: block;
    background: #E5F4F6;
    border-radius: 0px 50px 50px 0px;
    z-index: -1;
}

.buisness-bottom::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 405px;
    display: block;
    background: #E5F4F6;
    border-radius: 50px 0px 0px 50px;
    z-index: -1;
}
@media screen and (max-width:768px) {
    .buisness-top::before {
        height: 524px;
    }

    .buisness-bottom::before {
        height: 524px;
        top: 250px;
    }
}
.srvices-item img {
    margin: 0 auto 13px auto;
}

.services-item h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
    margin-bottom: 13px;
}

.planes-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
@media screen and (max-width:768px){

    .planes-list{
       flex-wrap: wrap;
       gap:30px;
    }
   }



   @media screen and (max-width:768px){

    .membership-list{
       flex-direction: column;
       gap:20px;
       
    }
   }

   @media screen and (max-width:768px){

    .membership-item{
      width:100%;
    }
   }

.planes-item {
    width: calc((100% - 90px)/4px);
    background: var(--main-color);
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    padding: 10px;
}
@media screen and (max-width:768px){

    .planes-item{
      width: calc((100% - 48px) / 2);
    }
   }
@media screen and (max-width:768px){

    .membership-item{
      width:100%;
      transform: translateY(0);
    }
   }
.imgwrapper {
    margin-bottom: 14px;
    border-radius: 12px;
    overflow: hidden;
}

.planes-image {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.planes-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
}

.planes-background {
    position: absolute;
    top: 208px;
    right: -64px;
    z-index: -1;
}

.planes {
    position: relative;
    overflow: hidden;
}



.serveces-item {
    width: calc((100% - 370px) / 2);
    padding: 40px 52px 51px 52px;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    text-align: center;
}
@media screen and (max-width:768px){

    .serveces-item{
       width: 47%;
    }
   }


.serveces-image {
    max-width: 297px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.serveces-item img {
    margin: 0 auto 13px auto;
}

.serveces-item h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 11px;
    color: #151515;
}

.membership-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.membership-item {
    flex-basis: calc((100% - 48px) / 3);
    padding: 24px;
    background: #F5F5F5;
}

.membership-item:nth-child(2) {
    background: #656293;
    transform: translateY(-30px);
}

.membership-item:nth-child(2) button {
    background-color: white;
    color: #151515;
}

.membership-item:first-child {
    border-radius: 20px 0px 0px 20px;
}

.membership-item:last-child {
    border-radius: 0px 20px 20px 0px;

}

.membership-item:nth-child(2) .price {
    color: white;
}


.membership-item h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
}

.membership-adventeges {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 24px;
    color: #A9A9AA;

}



.advantage-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
    padding-left: 30px;
    position: relative;
}

.advantage-item:not(:last-child) {
    margin-bottom: 16px;
}

.advantage-item:before {
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.advantage-item.tick:before {
    background-image: url(../images/black-tich.svg);
}

.advantage-item.cross:before {
    background-image: url(../images/black-cross.png);
}

.advantage-list {
    padding-bottom: 20px;
    border-bottom: 1px dashed #A9A9AA;
}

.price {
    padding-top: 70px;
    color: #161616;
}

.number {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

}


.adventeges-button {
    border-radius: 12px;
    background: #656293;
    padding: 12px 16px;
    width: 100%;
    color: white;
    margin-top: 24px;
    border: 0;
    font-size: 22px;
    font-weight: 600;
}

.membership-item:nth-child(2) .advantage-item.tick:before {
    background-image: url(../images/white-tich.svg);
}

.membership-item:nth-child(2) .advantage-item.cross:before {
    background-image: url(../images/white-cross.png);
}

.membership-item:nth-child(2) h3 {
    color: white;
}

.footer-image {
    margin: 0 auto;
}



.footer-bottom {
    background: #656293;
}

.footer-logo {
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
}

.footer-logo a {
    display: block;
    height: fit-content;
}

.footer-info {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 17px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info nav {
    flex: 1;
}

.footer-navigation {
    display: flex;
    gap: 30px;
    list-style: none;
}


.footer-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);

}

.copyrigth {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);

}